.account_status {
    background-color: rgba(190, 184, 202, 1);
    color: #fff;
    border: none;
}

.block_tariff_management_block_buttons {
    display: flex;
    align-items: center;
    max-width: 300px;
    justify-content: space-between;
}