.block_tariff_management_block_buttons {
    display: flex;
    align-items: center;
    max-width: 300px;
    justify-content: space-between;
    margin-bottom: 28px;
}


.request_text_left {
    display: flex;
    justify-content: space-between;
    width: 281px;
    padding-left: 5px;
}

/* Текст */

.request_description_bold {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_description_8_page {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
    color: rgba(164, 164, 164, 1);
}

.request_description_8_page_cost {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}


.account_status {
    background-color:rgba(113, 104, 129, 1);
    color: #ffff;
    border: 0;
}


/* Кнопка */

.requst_btn {
    background-color: rgba(190, 184, 202, 1);
    min-width: 130px;
    padding: 9px 0;
    color: #ffff;
}




/*  */

.request_list {
    display: flex;
    flex-direction: column;
}

.request_list_item {
    display: flex;
    border-radius: 7px;
    background-color: #ffff;
    margin-bottom: 7px;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
    align-items: center;
}

.request_text_left {
    display: flex;
    justify-content: space-between;
    min-width: 321px;
}


.request_item_index {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_company_item_name {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
    color: #DD8282;
}


.request_item_date {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_text_right {
    display: flex;
    min-width: 395px;
    justify-content: space-between;
}  


.request_text_left {
    min-width: 190px;
}

.request_text_right {
    min-width: 450px;
}

.text_description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}


.request_list_item:hover {
    background-color: rgba(113, 104, 129, 1);
}