.request_item_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}


/*  */
.request_list {
    display: flex;
    flex-direction: column;
}

.request_list_item {
    border-radius: 7px;
    background-color: #ffff;
    margin-bottom: 7px;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
}

.request_item_index {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_company_item_name {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
    color: #DD8282;
}


.request_item_date {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}

.request_text_left {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.request_text_right {
    display: flex;
    width: 260px;
    justify-content: space-between;
}  


.text_description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
}


.request_list_item:hover {
    background-color: rgba(113, 104, 129, 1);
}