.block_documents_item {
    padding: 22px;
    background-color: #fff;
    width: 207px;
    display: flex;
    flex-direction: column;
    height: 193px;
    border-radius: 7px;
    text-align: center;
}

.documents_link {
    margin-bottom: 30px;
}

.documents_description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04800000041723251px;
    text-align: start;
}

.button_exit {
    text-align: end;
}

.profile_control_item_right {
    width: 300px;
}

.block_tariff_management {
    width: 300px;
}

.logout_button_purple {
    display: inline-block;
    border-radius: 8px;
    background-color: #A181DC; 
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.07999999821186066px;
    padding: 5px 12px;
    margin-block: 20px;
}